[Desktop Entry]
Version=1.14.0
Type=Application
Name=Binvec
Comment=A simple application to convert raster graphics to vector graphics
Exec=binvec
Icon=binvec
Terminal=false
Categories=Graphics;2DGraphics;RasterGraphics;VectorGraphics;
Keywords=vector;graphics;converter;raster;

