html, body {
    height: 100%;
    max-width: 100%;
}

#baseLayout {
    /* Stretch https://stackoverflow.com/a/40445860/4046388 */
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

#btnOpenImage {
    height: 50px;

    max-width: 850px;
    width: 100%;

    /* Center horizontally */
    display: block;
    margin: 0 auto 10px;
}

#imgSvgPreview {
    /* fill app space */
    flex-grow: 1;

    /* hide borders */
    border: none;

    /* set img limits */
    max-width: 95%;
    /* total - open button - option layout - spacer */
    max-height: calc(100% - 50px - 300px - 100px);
    object-fit: contain;

    /* Center horizontally */
    display:block;
    margin-left:auto;
    margin-right:auto;
}

#optionsLayout {
    height: 300px;
    max-width: 850px;

    /* Center horizontally */
    display: block;
    margin: 0 auto;
}

#optionsLayout > * {
    display: block;
    margin: 10px auto;
    width: 100%;
}

#optionsLayoutFieldset {
    border: 0;
}

/* Disable the weired blue box when selecting an element */
button, select, input {
    box-shadow: none !important;
}