#baseLayout {
    display: block;
}

/* Center all child elements */
#baseLayout > * {
    display: block;

    width: 90%;
    margin: 10px auto;

    /* Center image and text */
    text-align: center
}

/* Limit the size of the svg preview */
#imgSvgPreview {
    width: 750px;
    height: 500px;
    max-width: 750px;
    max-height: 500px;
}